<head>
  <meta charset="UTF-8">
    <title>GoodBot_BadBot Rankings</title>
  <link rel='stylesheet' href='/styles/stylesheet.css' type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  
<div id="nav-placeholder">
  
</div>

<div class="container">
  <div class="row>">
    <div class="col-lg-12">
      <h2>Good Bot Votes</h2>
        <div>
          <canvas id="goodCountChart"></canvas>
        </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$.get("./html/nav.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});
</script>

<script>
var ctx = document.getElementById("goodCountChart");

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["<%= botName[0] %>", "<%= botName[1] %>", "<%= botName[2] %>", "<%= botName[3] %>", "<%= botName[4] %>", "<%= botName[5] %>"],
        datasets: [{
            label: '# of Votes',
            data: [<%= botVote[0] %>, <%= botVote[1] %>, <%= botVote[2] %>, <%= botVote[3] %>, <%= botVote[4] %>, <%= botVote[5] %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>