<head>
  <meta charset="UTF-8">
    <title>GoodBot_BadBot Rankings</title>
  <link rel='stylesheet' href='/styles/stylesheet.css' type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<!--Navigation -->
<% include ./partials/navbar %>

<!--Display current vote tally-->
<div class = "container">
  <h1>Welcome to GoodBot_BadBot's Rankings</h1>
  <div class="info_div">There have been <strong><%= total %></strong> votes cast:
  <strong><%= goodCount %></strong> good bot votes and <strong><%= badCount %></strong> bad bot votes.</div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6"  id="hgb">
      Honorary Good Bot: <a href="https://www.reddit.com/u/SirBelvedere">SirBelvedere</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6"  id ="hbb">
      Honorary Bad Bot: <a href="https://www.reddit.com/u/lukecis">lukecis</a>
    </div>
  </div>
</div>

<br>

<!-- Homepage content -->
<% include ./partials/homepage %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>Best Bot Standings</h2>
      <div class="info_div">
        These are the 10 best bots sorted by the <a href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html">
        Lower bound of Wilson score confidence interval for a Bernoulli parameter</a>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <canvas id="bestChart"></canvas>
    </div>
  </div>
</div>

<br>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
var ctx = document.getElementById("bestChart");

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["<%= bestBotName[0] %>", "<%= bestBotName[1] %>", "<%= bestBotName[2] %>", "<%= bestBotName[3] %>", "<%= bestBotName[4] %>", "<%= bestBotName[5] %>", "<%= bestBotName[6] %>", "<%= bestBotName[7] %>", "<%= bestBotName[8] %>", "<%= bestBotName[9] %>"],
        datasets: [{
            label: 'Inverse of the Lower Bound of Wilson Score Confidence Interval',
            data: [<%= bestBotScore[0] %>, <%= bestBotScore[1] %>, <%= bestBotScore[2] %>, <%= bestBotScore[3] %>, <%= bestBotScore[4] %>, <%= bestBotScore[5] %>, <%= bestBotScore[6] %>, <%= bestBotScore[7] %>, <%= bestBotScore[8] %>, <%= bestBotScore[9] %>],
            backgroundColor: [
                'rgb(51,204,0)',
                'rgb(74,210,0)',
                'rgb(96,215,0)',
                'rgb(119,221,0)',
                'rgb(142,227,0)',
                'rgb(164,232,0)',
                'rgb(187,238,0)',
                'rgb(210,244,0)',
                'rgb(232,249,0)',
                'rgb(255,255,0)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});

ctx.onclick = function (evt) {
    var activePoints = myChart.getElementsAtEvent(evt);
    var firstPoint = activePoints[0];
    var username = myChart.data.labels[firstPoint._index];
    if (firstPoint !== undefined)
        window.open("https://reddit.com/u/"+username+"/", "_blank");
};
</script>