<head>
  <meta charset="UTF-8">
    <title>GoodBot_BatBot Rankings</title>
  <link rel='stylesheet' href='/styles/stylesheet.css' type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<!--Navigation bar to go here-->
<div id="nav-placeholder">
  
</div>

<div class = "container">
  <h1>Welcome to GoodBot_BadBot's Rankings</h1>
  <div class="info_div">There have been <strong><%= total %></strong> votes cast:
  <strong><%= goodCount %></strong> good bot votes and <strong><%= badCount %></strong> bad bot votes.</div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class = "col-lg-6 col-md-6 col-sm-12">
      <h2>About</h2>
        <p>
          GoodBot_BadBot keeps track of the public's opinion on bots. Each user may vote one time per bot by 
          replying to the bot with "good bot" or "bad bot". The goal is to find out which bots are the most 
          popular and least popular.
        </p>
    </div>
    <div class= "col-lg-6 col-md-6 col-sm-12">
      <h2>Navigation</h2>
        <p>
          Use the filter option on the right side of the navigation bar at the top of the page to view the data. 
          You can also use the search form to check which bots a user has voted on.
        </p>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>Best Bot Standings</h2>
      <div class="info_div">
        These are the 6 best bots sorted by the <a href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html">
        Lower bound of Wilson score confidence interval for a Bernoulli parameter</a>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <canvas id="bestChart"></canvas>
    </div>
  </div>
</div>
<br>
<br>
<br>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$.get("./html/nav.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});
</script>

<script>
var ctx = document.getElementById("bestChart");

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["<%= botName[0] %>", "<%= botName[1] %>", "<%= botName[2] %>", "<%= botName[3] %>", "<%= botName[4] %>", "<%= botName[5] %>"],
        datasets: [{
            label: 'Lower Bound of Wilson Score Confidence Interval',
            data: [<%= botScore[0] %>, <%= botScore[1] %>, <%= botScore[2] %>, <%= botScore[3] %>, <%= botScore[4] %>, <%= botScore[5] %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

