<head>
  <meta charset="UTF-8">
    <title>GoodBot_BadBot Rankings</title>
  <link rel='stylesheet' href='/styles/stylesheet.css' type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<!--Navigation bar to go here-->
<div id="nav-placeholder">
  
</div>

<!--Display current vote tally-->
<div class = "container">
  <h1>Welcome to GoodBot_BadBot's Rankings</h1>
  <div class="info_div">There have been <strong><%= total %></strong> votes cast:
  <strong><%= goodCount %></strong> good bot votes and <strong><%= badCount %></strong> bad bot votes.</div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6"  id="hgb">
      Honorary Good Bot: <a href="https://www.reddit.com/u/SirBelvedere">SirBelvedere</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6"  id ="hbb">
      Honorary Bad Bot: <a href="https://www.reddit.com/u/lukecis">lukecis</a>
    </div>
  </div>
</div>

<br>

<!--Homepage content to go here-->
<div id="homepage-placeholder">
  
  
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>Worst Bot Standings</h2>
      <div class="info_div">
        These are the 10 worst bots with at least ten votes sorted by one minus the 
        <a href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html">
        Lower bound of Wilson score confidence interval for a Bernoulli parameter</a>.
      </div>
    </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <canvas id="worstChart"></canvas>
    </div>
  </div>
</div>

<br>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$.get("./html/nav.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});

$.get("./html/homepage.html", function(data) {
    $("#homepage-placeholder").replaceWith(data);
});
</script>

<script>
var ctx = document.getElementById("worstChart");

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["<%= worstBotName[0] %>", "<%= worstBotName[1] %>", "<%= worstBotName[2] %>", "<%= worstBotName[3] %>", "<%= worstBotName[4] %>", "<%= worstBotName[5] %>", "<%= worstBotName[6] %>", "<%= worstBotName[7] %>", "<%= worstBotName[8] %>", "<%= worstBotName[9] %>"],
        datasets: [{
            label: 'One minus the Lower Bound of Wilson Score Confidence Interval',
            data: [<%= worstBotScore[0] %>, <%= worstBotScore[1] %>, <%= worstBotScore[2] %>, <%= worstBotScore[3] %>, <%= worstBotScore[4] %>, <%= worstBotScore[5] %>, <%= worstBotScore[6] %>, <%= worstBotScore[7] %>, <%= worstBotScore[8] %>, <%= worstBotScore[9] %>],
            backgroundColor: [
                'rgba(175, 0, 14, 0.7)',
                'rgba(209, 20, 20, 0.7)',
                'rgba(214, 100, 19, 0.7)',
                'rgba(214, 152, 18, 0.7)',
                'rgba(214, 191, 18, 0.7)',
                'rgba(207, 214, 18, 0.7)',
                'rgba(174, 214, 18, 0.7)',
                'rgba(145, 214, 18, 0.7)',
                'rgba(106, 214, 18, 0.7)',
                'rgba(18, 214, 37, 0.7)'
            ],
            borderColor: [
                'rgba(175, 0, 14, 1)',
                'rgba(209, 20, 20, 1)',
                'rgba(214, 100, 19, 1)',
                'rgba(214, 152, 18, 1)',
                'rgba(214, 191, 18, 1)',
                'rgba(207, 214, 18, 1)',
                'rgba(174, 214, 18, 1)',
                'rgba(145, 214, 18, 1)',
                'rgba(106, 214, 18, 1)',
                'rgba(18, 214, 37, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});

ctx.onclick = function (evt) {
    var activePoints = myChart.getElementsAtEvent(evt);
    var firstPoint = activePoints[0];
    var username = myChart.data.labels[firstPoint._index];
    if (firstPoint !== undefined)
        window.open("https://reddit.com/u/"+username+"/", "_blank");
};
</script>




